/*
Theme Name:     Shuttle eShop
Theme URI:      https://shuttlethemes.com/features-eshop/
Author:         Shuttle Themes
Author URI:     https://www.shuttlethemes.com
Description:    Shuttle eShop is the awesome free version of Shuttle Pro. It is really good for professionals. If you want to make a business, for big or small this theme is good for you. So if it is a restaurant, sport, medical, startup, corporate, business, ecommerce, portfolio, freelancers or any type of online agency or firm you will want to use this cool design. It had a multi-purpose design with widget areas in footer, so now even easy to make blog / news website which looks really clean and professional. The theme is responsive, WPML, Polylang, Retina ready, SEO friendly, and is a super design. Shuttle is fast and lightweight and can be used for any type of website, fully compatible with eCommerce plugins like WooCommerce an JigoShop. Whether you are building a website for yourself, your business or are a freelancer building websites for your cliente, Shuttle is the perfect choice. Plus if works with all the major page builders such as Elementor, Beaver Builder, Visual Composer, Divi, SiteOrigin and so much more!
Template:       shuttle
Version:        1.0.7
License: GNU    General Public License v2 or later
License URI:    https://www.gnu.org/licenses/gpl-2.0.html
Tags:           one-column, two-columns, three-columns, right-sidebar, left-sidebar, custom-header, custom-menu, full-width-template, theme-options, threaded-comments, editor-style, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, custom-background, grid-layout, footer-widgets, blog, e-commerce, portfolio, rtl-language-support
Text Domain:	shuttle-eshop
*/

/* Sub-header Style */
#pre-header {
	background-color: #232323;	
}
#pre-header .header-links > ul > li:before {
	display: none;
}
#pre-header .header-links > ul > li {
	border-left: 1px solid #444;
}
#pre-header .header-links > ul > li:last-child {
	border-right: 1px solid #444;
}
#pre-header .header-links > ul > li > a {
	color: #fff;
}
#pre-header .header-links .menu-hover > a,
#pre-header .header-links > ul > li > a:hover {
	background-color: #13aff0;
	color: #fff;
}
#pre-header-social li:last-child, {
	border-right: 1px solid #444;
}
#pre-header-social li:last-child > a {
	border-right: 1px solid #444;
}
#pre-header-social li a {
	color: #fff;
	border-left: 1px solid #444;
}
#pre-header-social li:last-child {
	border-right: none;
}
#pre-header-social li a:hover {
	color: #fff;
	background-color: #13aff0!important;
}
/* Header Style */
#header .header-links .sub-menu a:before,
#header-sticky .header-links .sub-menu a:before {
	display: none;
}
#header .header-links > ul > li.menu-parent > a:after,
#header-sticky .header-links > ul > li.menu-parent > a:after {
	content: '\f067';
	font-size: 10px;
}
#header .header-links .sub-menu a:hover:before,
#header-sticky .header-links .sub-menu a:hover:before {
	width: 10px;
	opacity: 1;
	visibility: visible;
	margin-right: 8px;
}
#header .sub-menu .menu-parent > a:after,
#header-sticky .sub-menu .menu-parent > a:after {
    font-family: FontAwesome;
    font-size: 10px;
    text-align: right;
    content: "\f067";
    position: relative;
    left: 10px;
    display: inline-block;
    float: right;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#header .header-links .sub-menu,
#header-sticky .header-links .sub-menu {
	min-width: 200px!important;
}
#header .header-links .sub-menu a,
#header-sticky .header-links .sub-menu a {
	padding: 2px 0px;
}
#header .header-links .sub-menu,
#header-sticky .header-links .sub-menu {
	border-top: 1px solid #fff;
	border-bottom: 2px solid #13aff0;
	-webkit-box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
	-moz-box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
	-ms-box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
	-o-box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
	box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
}
#header .sub-menu li,
#header-sticky .sub-menu li {
	border: none;
}
#header .header-links .sub-menu .sub-menu,
#header-sticky .header-links .sub-menu .sub-menu {
	margin-top: 0px;
}

/* Cta Style */
#introaction-core,
#outroaction-core,
.sc-action-core {
	padding: 40px 30px;
	background-color: #f7f7f7;
	border-bottom: 3px solid #13aff0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#introaction-core .three_fourth,
#introaction-core .one_fourth {
	margin: 0;
	float: none;
	text-align: center;
	width: 100%;
}
.action-text h3 {
	font-size: 36px;
	font-weight: 700;
}
.action-link a {
	font-size: 13px;
	margin-top: 20px;
	padding: 8px 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.action-link a:hover {
	background-color: #1e1e1e;
}

/* Featured Style */
.services-builder.style1 {
	background-color: #f7f7f7;
	border-bottom: 3px solid #13aff0;
	border-left: none;
	border-right: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.services-builder.style1 .iconimage img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.services-builder.style1 .iconurl a {
	background-color: transparent;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #13aff0;
	padding: 0px;
	position: relative;
	padding-bottom: 8px;
}
.services-builder.style1 .iconurl a:hover {
	color: #13aff0;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.iconmain .iconurl a:after {
	display: none;
}
.services-builder.style1 .iconurl a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
    display: inline-block;
    height: 3px;
    background-color: #13aff0;
    width: 0;
    vertical-align: middle;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.services-builder.style1 .iconurl a:hover:before,
.services-builder.style1 .iconurl a:hover:before {
	width: 20px;
	opacity: 1;
	visibility: visible;
}

/* Footer style */
footer {
	background-color: #232323;
}
#footer {
	background-color: transparent;
	border: none;
}
#footer-core h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
#footer .widget ul li a:before {
	display: none;
}
#footer .widget ul li a {
	color: #fff;
	font-weight: 400;
	font-size: 15px;
}
#footer .widget ul li a:hover {
	color: #13aff0;
}
#footer .widget ul li span {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
}
#footer .widget_recent_entries ul li,
#footer .widget_recent_comments ul li {
	margin-bottom: 15px;
}
#footer .widget ul li:last-child {
	margin-bottom: 0px;
}
#footer .widget_tag_cloud a {
	background-color: rgba(250,250,250,0.25);
	color: #fff;
}
#footer .widget_tag_cloud a:hover {
	background-color: #13aff0;
}
#footer input[type=text],
#footer input[type=email],
#footer input[type=password],
#footer input[type=search],
#footer input[type=tel],
#footer select,
#footer textarea {
	background-color: #454545;
	border: none;
	color: #fff;
	padding: 5px 15px;
}

/* Sub footer style */
#sub-footer {
	background-color: #232323;
	border-top: 1px solid rgba(250,250,250,0.2);
	color: #fff;
}
#sub-footer a {
	color: #fff;
}
#sub-footer a:hover {
	color: #13aff0;
}
#footer-menu li:after {
	display: none;
}

/* Page heading style */
#intro {
	background-color: #13aff0;
	padding: 30px 0px;
}
#intro .page-title {
	color: #fff;
	font-size: 28px;
	font-weight: 900;
}
#intro .page-title span {
	background-color: transparent;
	padding: 0px;
}
#intro #breadcrumbs {
	color: #fff;
	font-weight: 500;
}
#intro #breadcrumbs-core {
	background-color: transparent;
	padding: 0px;
}
#intro #breadcrumbs-core a {
	color: #fff;
}

/*Side Bar Style */
.widget_search .search,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
	border: none;
	background-color: #f7f7f7;
}
#sidebar h3.widget-title {
	width: 100%;
	font-size: 18px;
	color: #1e1e1e;
	text-transform: capitalize;
	border-top: 2px solid #13aff0;
	padding-bottom: 0px;
	padding-top: 10px;
}
#sidebar h3.widget-title:before {
	display: none;
}
#sidebar .widget_recent_entries ul li a:before {
	display: none;
}
#sidebar .widget ul li a {
	font-size: 16px;
	font-weight: 600;
	color: #1e1e1e;
}
#sidebar .widget ul li a:hover {
	color: #13aff0;
}
#sidebar .widget ul li span {
	display: block;
	font-size: 13px;
	font-weight: 600;
	color: #aaa;
}
#sidebar .widget_recent_entries ul li,
#sidebar .widget_recent_comments ul li {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#sidebar .widget ul li {
	border-bottom: 1px solid #eee;
}
#sidebar .widget ul li:last-child {
	margin-bottom: 0px;
	border-bottom: none;
	padding-bottom: 0px;
}
#sidebar .widget_tag_cloud a:hover {
	background-color: #13aff0;
}

/* Blog Posts Style */
.blog-style2 #content {
	background-color: #fff;
}
.blog-style2 .blog-grid.column-2 {
	padding: 15px;
}
.blog-thumb img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.blog-style2 .blog-article {
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.blog-style2 .blog-article .entry-content {
	text-align: left;
	padding: 30px;
	position: relative;
	border-top: 3px solid #13aff0;
	background-color: #f7f7f7;
}
.blog-article .more-link {
	padding-top: 0px;
}
.blog-article .more-link a {
	background-color: transparent;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #13aff0;
	padding: 0px;
	position: relative;
	padding-bottom: 8px;
}
.blog-article .more-link a:hover {
	color: #13aff0;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.blog-article .more-link a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
    display: inline-block;
    height: 3px;
    background-color: #13aff0;
    width: 0;
    vertical-align: middle;
    margin-right: 0;
    opacity: 0;
    visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.blog-article .more-link a:hover:before {
	width: 20px;
	opacity: 1;
	visibility: visible;
}
.blog-article.sticky .entry-meta a,
.blog-article.sticky .entry-meta i {
	color: #7a7a7a;
}
.blog-article .entry-meta a {
	color: #7a7a7a;
}
.blog-article .entry-meta > span:before {
	content: '|';
	color: #aaa;
}
.blog-article .entry-meta > span {
	text-transform: none;
	font-size: 13px;
}
.blog-style2 .blog-article .blog-title {
	margin-top: 10px;
	font-size: 22px;
	text-transform: none;
}
.blog-article.sticky .blog-title a {
	color: #1e1e1e;
}
.blog-article.sticky .entry-content p {
	color: #7a7a7a;
}

/* Blog Page Navigation Style */
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	color: #1e1e1e;
	font-weight: 700;
	border: none;
	background-color: #f7f7f7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

/* Single Post Style */
.single .entry-header {
	background-color: #f7f7f7;
	padding: 30px 30px 0px 30px;
	margin-bottom: 0px;
}
.single .entry-content {
	background-color: #f7f7f7;	
	padding: 15px 30px 30px 30px;
	margin-bottom: 0px;
}
.single .entry-meta {
	margin-top: 0px!important;
}
.single .entry-meta > span:before {
	content: '|';
	color: #ddd;
}
.single .entry-meta > span {
	text-transform: none;
	font-size: 13px;
}
.single .entry-meta{
	text-align: left;
	margin-top: 45px;
}
.nav-previous a,
.nav-next a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav-previous a:hover,
.nav-next a:hover {
	background-color: #1e1e1e;
}
#nav-above,
#nav-below {
	background-color: #f7f7f7;
	padding: 30px;
	border-top: 1px solid #eee;
}

/* Comments & Leave Comment Style */
#comments-title h3,
#reply-title {
	text-align: left;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
}
.comment-content {
	background-color: #fff;
}
.commentlist .comment,
.commentlist .pingback {
	margin-top: 30px;
	border-bottom: 1px solid #eee;
}
.comment .reply {
	float: right;
}
.comment .reply a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	color: #1e1e1e;
	border: 1px solid #13aff0;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.commentlist .avatar {
	width: 80px;
	height: 80px;
	border: none;
	margin: 0;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.commentlist article header {
	text-align: left;
}
.comment-content {
	text-align: left;
}
.comment .reply a:hover {
	background-color: #13aff0;
	color: #fff;
}
#commentform input[type="text"],
#commentform textarea {
	border: none;
	background-color: #f7f7f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#commentform input[type="text"]:focus,
#commentform textarea:focus {
	background-color: #f7f7f7;
}
.logged-in-as a {
	color: #4a4a4a;
}
.logged-in-as a:hover {
	color: #13aff0;
}
.comment-respond .form-submit {
	text-align: left;
}
.themebutton,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 13px;
	padding: 8px 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.themebutton:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #1e1e1e;
}
